<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
     <add name="dbCogEntities" connectionString="metadata=res://*/dbCognitive.csdl|res://*/dbCognitive.ssdl|res://*/dbCognitive.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=GANESHA\NEW;AttachDbFilename=F:\Deepanshu\CogNetworks\dbCognitive.mdf;Initial Catalog=dbCognitive;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>